html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.main {
  width: 250px;
  margin: 0 auto;
  padding: 0.2em 1em;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  line-height: normal;
  background: #ddd;
}

.main *:not(h1) {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.main h1,
.main input[type="text"] {
  text-align: center;
}

.main textarea,
.main input[type="text"],
.main button {
  margin: 0 auto 0.5em;
  border: none;
  outline: none;
  box-sizing: border-box;
  border-radius: inherit;
}

.main textarea,
.main input[type="text"] {
  box-shadow:
    inset 0 1px 5px rgba(0, 0, 0, 0.6),
    0 1px 0 rgba(255, 255, 255, 0.6);
}

.main input[type="text"],
.main button {
  display: block;
  padding: 0.5em 1em;
  width: 30%;
}

.main h1 {
  font-size: 1.5em;
  margin: 0 auto 0.3em;
}

.main textarea {
  width: 100%;
  resize: none;
  padding: 0.5em 1em;
  background: url('creampaper.png') repeat 0 0;
}

.main button {
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.7);
}

/* Textarea scroll-bar styles */
textarea::-webkit-scrollbar {
  width: 0.2em;
}

textarea::-webkit-scrollbar-track {
    background: transparent;
}

textarea::-webkit-scrollbar-thumb {
    background: #929292;
    border-radius: 2px;
}
