html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
/* Common styles */
.main,
.main textarea,
.main input[type="text"] {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  border-radius: 3px;
}

.main h1,
.main input[type="text"] {
  text-align: center;
}

.main textarea,
.main input[type="text"]{
  border: none;
  outline: none;
  margin: 0 auto 0.5em;
  box-sizing: border-box;
  box-shadow:
    inset 0 1px 5px rgba(0, 0, 0, 0.6),
    0 1px 0 rgba(255, 255, 255, 0.6);
}
/* <-- end --> */
.main {
  width: 250px;
  margin: 0 auto;
  padding: 0.2em 1em;
  background-image:
    linear-gradient(
      #ddd,
      #bbb);
}

.main h1 {
  margin: 0 auto 0.3em;
  font-size: 1.5em;
}

.main textarea {
  width: 100%;
  padding: 0.5em 1em;
  resize: none;
  background: url('creampaper.png') repeat 0 0;
}

.main input[type="text"] {
  display: block;
  padding: 0.5em 1em;
  width: 30%;
}
/* Textarea scroll-bar styles */
textarea::-webkit-scrollbar {
  width: 0.2em;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background: #929292;
  border-radius: 2px;
}
